@import url('min.css');
/*@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500');*/

@font-face {
    font-family: Avenir;
    src: url("font/Avenir1.otf") format("opentype");
}
@font-face {
    font-family: Quicksand;
    src: url("font/Quicksand-Regular.otf") format("opentype");
}

html{
	/*font-family: "Avenir1";*/
	/*font-family: "Helvetica Neue";*/
	font-family: Quicksand; letter-spacing: -1px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5rem;

}
body{
	/*background: CornflowerBlue;*/
	background: #def;
	overflow-x: hidden;
}
main{
	width: 99vw;
	max-width: 30rem;
	margin: 0 auto;
}
section{
	background: white;
	border-radius: 3px;
	padding: 10px;
	margin: 10px;
}
p{
	/*color: #555;*/
	text-align: justify;
	margin: 1.5rem;
	line-height: 1.4rem !important;
}
h1,h2,h3{
	font-weight: 400;
	text-align: center;
}
a{
	color: CornflowerBlue;
}
a:hover{
	color: #aaf;
}