@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');

html {
    font-family: Helvetica;
    font-size: 20px;
    font-weight: 300;
}

a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

